header {   
    width: 100%;
}

.namenav {
    width: 960px;
}

.foster {
    text-align: center;
    padding: 15px;
}

.nav {
    float:right;
    list-style-type: none;
    margin: 0; 
    padding: 0;
}



div.main {
    float: center;
    width: 960px;
    padding: 20px;
    margin: auto;
}





.profile1 {
width: 100px;
float:left;


}