header {
    background-color:#ffffff;
    width: 960px;
    margin: auto;
}

body {
    
    background: url(/assets/images/background.png);
    background-size: 100%;
}
div.namenav {
    width: 960px
}
#background {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #cccccc;

}

.foster {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 200px;
    height: 75px;
    padding: 5px;
    position: fixed;
    left: 0px;
}

.nav {
    list-style-type: none;
    margin: 0; 
    padding: 0;
}



#main {
    float: center;
    width: 960px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    border-style:solid;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #ffffff;
}

#profile1 {
width: 100px;
float:left;


}

.footer {
    text-align: center;
    background-color: #666666;
    padding: 20px;
}