header {
    background-color:#ffffff;
    margin: auto;
    margin-bottom:20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height:80px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#cccccc;
}

#namenav {
    width:960px;
    margin:auto;
}
body {
    background: url(/assets/images/background.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#about-me {
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.foster {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 200px;
    height:80px;
    float:left;
}

nav {
    float: right;
    width: 25%;
    padding-top: 20px;
}

.nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0; 
    padding: 0px 6px;
    color: #777777;
}

a {
    text-decoration: none;
    color: #777777;
}

.desc p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#middle-nav {
    border-width: 0px 1px 0px 1px;
    border-style: solid;
}

#main {
    float: center;
    width: 918px;
    padding: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 115px;
    border-style:solid;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
#main p {
    color: #777777;
}
#main h1{
    color: #4aaaa5;
}

#profile1 {
    width: 100px;
    float: left;
    margin-right: 15px;

}

#port img {
    width: 200px;
}

.port-photos {
    margin: 20px;
}


.footer {
    text-align: center;
    background-color: #666666;
    padding: 19px 0 0 0;
    border-top-width: 8px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}